@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Libre Caslon Display", serif;
}

body {
    overflow: hidden;
}

.background {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-image: url(assets/background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.navbar {
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}

.navbar a {
    color: #000000;
    font-size: 20px;
}

.navbar a:hover {
   color: rgb(139, 0, 77);
   transition: 0.3 all;

}

.logo {
    height: 70px;
    width: 70px;
    background: linear-gradient(#FFDAB9, #AFEEEE, #FFB6C1);
    border: 3px solid transparent;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    cursor: pointer;
}

button {
    color: black;
    background: linear-gradient(#FFDAB9, #AFEEEE, #FFB6C1);
    border: 1px solid white;
    padding: 5px;
    border-radius: 15px;
    font-size: 20px;
    width: 100px;
}

button:hover {
    background: violet;
    color: black;
    transition: 0.3s;
}

.container-text{
    padding: 150px 0px 0px 130px;
}

.text h3{
    color: white;
    font-size: 30px;
}

.text h1{
    color: white;
    margin-top: 10px;
    font-size: 60px;
}

.text span{
    color: aqua;
}

.text p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-top: 5px;
}

.redes a{
    color: #FFB6C1;
    padding: 15px;
    margin-top: 20px;
    font-size: 25px;
    padding-top: 5px;
}

.sobre {
    margin-top: 10px;
}
